<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/error.css">
    <link rel="icon" href="https://i.ibb.co/LR54XD7/DYCNFALOGO-1.png" type="image/png">
    <meta property="og:title" content="DYCNㅣ점검" />
    <meta property="og:description" content="덕영고등학교 DYCN 팀에서 진행된 일시 점검 페이지 입니다." />
    <meta property="og:image" content="https://i.ibb.co/fnhtkjy/DYCN.png" />
    <meta property="og:type" content="website" />
    <title>DYCNㅣ점검</title>
</head>
<body>
    <div class="core-background">
        <div class="core"></div>
    </div>

    <div style="margin: 400px 0px 0px 700px;">
        <h1>해당 웹 사이트는 <span style="color: gold;">점검</span> 중입니다!!</h1>
    </div>
</body>
</html>